
@{
    ViewData["Title"] = "Balance Updated";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content-wrapper">
    <h2>Balance Updated</h2>
    <p> You have succesfully @ViewBag.Action <span>@ViewBag.Amount</span> @ViewBag.Verb  <span>@ViewBag.User</span></p>
</div>

