@model kaedc.Models.Transaction

@{
    ViewData["Title"] = "Edit";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Edit</h2>

<h4>Transaction</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="Id" />
            <div class="form-group">
                <label asp-for="ServiceId" class="control-label"></label>
                <select asp-for="ServiceId" class="form-control" asp-items="ViewBag.ServiceId"></select>
                <span asp-validation-for="ServiceId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentMethodId" class="control-label"></label>
                <select asp-for="PaymentMethodId" class="form-control" asp-items="ViewBag.PaymentMethodId"></select>
                <span asp-validation-for="PaymentMethodId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Amount" class="control-label"></label>
                <input asp-for="Amount" class="form-control" />
                <span asp-validation-for="Amount" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="KaedcUser" class="control-label"></label>
                <input asp-for="KaedcUser" class="form-control" />
                <span asp-validation-for="KaedcUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Datetime" class="control-label"></label>
                <input asp-for="Datetime" class="form-control" />
                <span asp-validation-for="Datetime" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="MeterName" class="control-label"></label>
                <input asp-for="MeterName" class="form-control" />
                <span asp-validation-for="MeterName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Meternumber" class="control-label"></label>
                <input asp-for="Meternumber" class="form-control" />
                <span asp-validation-for="Meternumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TransactionReference" class="control-label"></label>
                <input asp-for="TransactionReference" class="form-control" />
                <span asp-validation-for="TransactionReference" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Hash" class="control-label"></label>
                <input asp-for="Hash" class="form-control" />
                <span asp-validation-for="Hash" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PayersName" class="control-label"></label>
                <input asp-for="PayersName" class="form-control" />
                <span asp-validation-for="PayersName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ApiUniqueReference" class="control-label"></label>
                <input asp-for="ApiUniqueReference" class="form-control" />
                <span asp-validation-for="ApiUniqueReference" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GatewayresponseCode" class="control-label"></label>
                <input asp-for="GatewayresponseCode" class="form-control" />
                <span asp-validation-for="GatewayresponseCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GatewayresponseMessage" class="control-label"></label>
                <input asp-for="GatewayresponseMessage" class="form-control" />
                <span asp-validation-for="GatewayresponseMessage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Statuscode" class="control-label"></label>
                <input asp-for="Statuscode" class="form-control" />
                <span asp-validation-for="Statuscode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StatusMessage" class="control-label"></label>
                <input asp-for="StatusMessage" class="form-control" />
                <span asp-validation-for="StatusMessage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RecipientPhoneNumber" class="control-label"></label>
                <input asp-for="RecipientPhoneNumber" class="form-control" />
                <span asp-validation-for="RecipientPhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Token" class="control-label"></label>
                <input asp-for="Token" class="form-control" />
                <span asp-validation-for="Token" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhcnUnique" class="control-label"></label>
                <input asp-for="PhcnUnique" class="form-control" />
                <span asp-validation-for="PhcnUnique" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PayerIp" class="control-label"></label>
                <input asp-for="PayerIp" class="form-control" />
                <span asp-validation-for="PayerIp" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="AgentProfit" class="control-label"></label>
                <input asp-for="AgentProfit" class="form-control" />
                <span asp-validation-for="AgentProfit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CoordinatorProfit" class="control-label"></label>
                <input asp-for="CoordinatorProfit" class="form-control" />
                <span asp-validation-for="CoordinatorProfit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="BrinqProfit" class="control-label"></label>
                <input asp-for="BrinqProfit" class="form-control" />
                <span asp-validation-for="BrinqProfit" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TopUpValue" class="control-label"></label>
                <input asp-for="TopUpValue" class="form-control" />
                <span asp-validation-for="TopUpValue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

