@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewData["Title"]</h2>

@*<div class="content-wrapper">
    <div class="row">
        <div class="col-md-4">
            <form asp-route-returnUrl="@Model.ReturnUrl" method="post">
                <h4>Create a new account.</h4>
                <hr />
                <div asp-validation-summary="All" class="text-danger"></div>
                <div class="form-group">
                    <label asp-for="Input.Email"></label>
                    <input asp-for="Input.Email" class="form-control" />
                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Username"></label>
                    <input asp-for="Input.Username" class="form-control" />
                    <span asp-validation-for="Input.Username" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Firstname"></label>
                    <input asp-for="Input.Firstname" class="form-control" />
                    <span asp-validation-for="Input.Firstname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Surname"></label>
                    <input asp-for="Input.Surname" class="form-control" />
                    <span asp-validation-for="Input.Surname" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.PhoneNumber"></label>
                    <input asp-for="Input.PhoneNumber" class="form-control" />
                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Role"></label>
                    <select class="form-control" asp-for="Input.Role" asp-items="ViewBag.Roles"></select>
                    <span asp-validation-for="Input.Role" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.Password"></label>
                    <input asp-for="Input.Password" class="form-control" />
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="Input.ConfirmPassword"></label>
                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="btn btn-default">Register</button>
            </form>
        </div>
    </div>
</div>*@


<div class="content-wrapper">
        <!-- Content Header (Page header) -->
        <section class="content-header">
            <div class="header-icon">
                <i class="fa fa-users"></i>
            </div>
            <div class="header-title">
                <h1>Add Customer</h1>
                <small>Customer list</small>
            </div>
        </section>
        <!-- Main content -->
        <section class="content">
            <div class="row">
                <!-- Form controls -->
                <div class="col-sm-12">
                    <div class="panel panel-bd lobidrag">
                        <div class="panel-heading">
                            <div class="btn-group" id="buttonlist">
                                <a class="btn btn-add " href="~/customers/customerList">
                                    <i class="fa fa-list"></i>  Customer List
                                </a>
                            </div>
                        </div>
                        <div class="panel-body">
                            <form class="col-sm-6" asp-route-returnUrl="@Model.ReturnUrl" method="post">
                                <div asp-validation-summary="All" class="text-danger"></div>
                                <div class="form-group">
                                    <label>First Name</label>
                                    <input asp-for="Input.Firstname" class="form-control" placeholder="Enter First Name" required>
                                    <span asp-validation-for="Input.Firstname" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label>Last Name</label>
                                    <input asp-for="Input.Surname" class="form-control" placeholder="Enter last Name" required>
                                    <span asp-validation-for="Input.Surname" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label>User Name</label>
                                    <input asp-for="Input.Username" class="form-control" placeholder="Enter last Name" required>
                                    <span asp-validation-for="Input.Username" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label>Email</label>
                                    <input asp-for="Input.Email" class="form-control" placeholder="Enter Email" required>
                                    <span asp-validation-for="Input.Email" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label>Mobile</label>
                                    <input asp-for="Input.PhoneNumber" class="form-control" placeholder="Enter Mobile" required>
                                    <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label>Customer type</label>
                                    <select class="form-control" asp-for="Input.Role" asp-items="ViewBag.Roles"></select>
                                    <span asp-validation-for="Input.Role" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label>Password</label>
                                    <input asp-for="Input.Password" class="form-control" />
                                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label>Confirm Password</label>
                                    <input asp-for="Input.ConfirmPassword" class="form-control" />
                                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                                </div>
                                <div class="form-group">
                                    <label>Sex</label><br>
                                    <label class="radio-inline"><input name="sex" value="1" checked="checked" type="radio">Male</label>
                                    <label class="radio-inline"><input name="sex" value="0" type="radio">Female</label>
                                </div>
                                <div class="form-group">
                                    <label>Status</label><br>
                                    <label class="radio-inline">
                                        <input type="radio" name="status" value="1" checked="checked" disabled>Active
                                    </label>
                                    <label class="radio-inline"><input type="radio" name="status" value="0" disabled>Inactive</label>
                                </div>
                                <button type="submit" class="btn btn-success reset-button">Save</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!-- /.content -->
    </div>
<!-- /.content-wrapper -->


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
